timesnap/node_modules
TUG2021/Final/*.mp4
TUG2021/Speakers-TUG-2021/*.mkv
TUG2021/Speakers-TUG-2021/*.mp4
TUG2021/Zoom-TUG-2021/
TUG2022/sources/credits-screencapture.mp4
*/runners/*/*.ts
*/runners/*/*.mp4
*/runners/*/normalized
*/runners/*/doit.log
*/credits-final.mp4
*/leaders/
*/prerecorded/
*/Zoom/
*/CREDITS/
